@font-face {
	font-family: 'Grtsk Giga';
	src: url('../fonts/GrtskGiga-Semibold.woff2') format('woff2'),
		url('../fonts/GrtskGiga-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grtsk Giga';
	src: url('../fonts/GrtskGiga-Bold.woff2') format('woff2'),
		url('../fonts/GrtskGiga-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
