@import '../variables';

.navbar {
	&__item {
		position: fixed;
		display: flex;
		z-index: 10;

		&:nth-child(1) {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			rotate: 270deg;
		}

		&:nth-child(2) {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			rotate: 90deg;
		}

		&:nth-child(3) {
			width: fit-content;
			left: 50%;
			right: 50%;
			bottom: 19px;
			transform: translateX(-50%);
			rotate: 360deg;
		}
	}

	&__link {
		position: relative;
		width: fit-content;
		color: map-get($color, 'onyx');
		font-size: 16px;
		line-height: 22.4px;
		@extend %transition;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 2px;
			background: map-get($color, 'onyx');
			transform: scaleX(0);
			transform-origin: left;
			@extend %transition;
		}

		&:hover {
			color: map-get($color, 'white');

			&::after {
				transform: scaleX(1);
				background: map-get($color, 'white');
			}
		}
	}
}

.burger {
	display: none;
	position: fixed;
	top: 28px;
	right: 16px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: transparent;
	width: 30px;
	height: 30px;
	z-index: 11;
	cursor: pointer;

	& span {
		display: inline-flex;
		width: 22px;
		height: 1px;
		background: map-get($color, 'black');
		@extend %transition;

		&:last-child {
			margin: 7px 0 0;
		}
	}

	&.open {
		span {
			&:nth-child(1) {
				transform: rotate(45deg) translateX(5px);
			}

			&:nth-child(2) {
				transform: rotate(-45deg) translateX(5px);
			}
		}
	}
}
